.DropdownItem {
    display: inline-flex;
    max-width: 60%; 
    padding: 2px 5px; 
    justify-content: center; 
  }
  
  
  .AbsolutePosition {
    position: absolute;
    top: 0; 
    right: 0;
    z-index: 100; 
  }