.App {
    font-family: "DM Sans", sans-serif;
    background-color: #f8f8f8;
    min-height: 100vh;
  }

  * {
    box-sizing: border-box;
  }
  
  a {
    transition: color ease-in-out 0.3s;
  }
  
  a:hover {
    text-decoration: none;
    background-color: #72a7b3;
  }
  

  
